
body {
    background-color: #331818;
    color: white;
  }

  .hero {
    background: url('assets/images/inicio.jpg');
    background-size: cover;
  }

  h1 {
    color: white;
  }

  .card {
    color: rgb(0, 0, 0);
  }

  .cafe-card-body {
    color: #000000;
    position: absolute;
    bottom: 0;
  }

  .ofertas .card-body {
    color: #171A22;
  }

  .productos>.card {
    opacity: 0.25;
    border-color: black;
  }

  .carousel-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .whatsapp-button {
    position: fixed;
    right: 10px;
    bottom: 5px;
    width: 90px;
    height: 90px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    z-index: 9999;
  }

  .whatsapp-button img {
    width: 100%;
    height: auto;
  }



  .btn-custom:hover {
    background-color: #a04713;
    color: #ffffff;
  }

  .btn-custom:not(:hover) {
    background-color: #c48080;
    color: #fdfdfd;
  }

  #verProductosBtn.btn-custom .btn-link {
    color: rgb(255, 254, 254);
    text-decoration: none;
  }

  #footer {
    background-color: #000000;
  }
